body{
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #56cbdb;
}
div{
  margin-top: 120px;
  display: inline-block;
  width: 350px;
  height: 580px;
  background-color: black;
  border-radius: 20px;
}
#calculator{
  border: black solid 4px; 
}
input{
  width: 300px;
  height: 65px;
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 20px;
  color: white;
  padding-left: 30px;
}
.btn{
  padding: 30px;
  border: none;
  border-radius: 10px;
  margin: 3px;
  font-size: 22px;
  background-color: #262834; ;
  color: white;
}
.equ{
  padding-left: 73px;
  padding-right: 73px;
}
.del{
  padding-left: 65px;
  padding-right: 65px;
}
.op{
  background-color: #56cbdb;
  color: white;
}